.example-card{
    padding: 20px;
width: 180px;
border-radius: 20px;
align-items: center;
text-align: center;
margin: 10px;
}

.mat-card-image{
    width:90%;
    align-items: center;
    text-align: center;
}
.mat-button{
    border-radius: 10px;
    color: white;
    background-color: blue;
    width: 90%;
}
.container-cards{
    display: flex;
    margin-left: 20%;
    margin-bottom: 50px;
}
.button-unit1{
    width: 10%;
    margin-left: 4%;
}
.button-unit2{
    width: 10%;
    margin-left: 40%;
}
.search{
    border-radius: 8px;
    background-color: rgb(59, 131, 255);
    width: 70%;
    height: 30px;
    border-style: none;
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 20px;
}
.h1{
    text-align: center;
    align-items: center;
    
}