<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color:#0441DB; font-size: 19px; color: white;">
      <mat-icon style="margin-left: 20px; margin-right: 10px;">account_circle</mat-icon> Empresario
    </mat-toolbar>
    <mat-nav-list>
      <hr style="margin-top:0;">
      <a mat-list-item routerLink="profile">Profile</a>
      <hr>
      <a mat-list-item routerLink="ipickup">Create Shipment</a>
      <hr>
      <a mat-list-item routerLink="shippingstatus">Shipping Status</a>
      <hr>
      <a mat-list-item routerLink="myshipments">My Shipments</a>
      <hr>
      <hr style="margin-top:158%;">
      <a mat-list-item routerLink="">Sign off</a>
      <hr>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color:#FFBA09;">
    <mat-toolbar style="background-color:#0441DB; color: white;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EasySecureDelivery</span>
      <span style="flex:auto;"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
