<div class="row">
    <div class="col-lg-12">
      <h2 style="color: white;">Datos del cliente<br></h2>
    </div>
</div>
  
<div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
          <mat-form-field appearance="outline" [style.fontSize.px]="16">
            <mat-label>name</mat-label>
            <input matInput/>
          </mat-form-field>
      </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" [style.fontSize.px]="16" >
            <mat-label>DNI</mat-label>
            <input matInput/>
          </mat-form-field>
        </div>
        <form [formGroup]="myForm" autocomplete="off">
          <div class="col-lg-12">
            <mat-form-field appearance="outline" [style.fontSize.px]="16">
              <mat-label>Content</mat-label>
              <input matInput formControlName="content" />
            </mat-form-field>
            <div
              *ngIf="
                myForm.get('Content')?.hasError('required') &&
                myForm.get('Content')?.touched
              "
              style="margin-top: -20px"
            >
              <span class="mda-form-msg"> This field is required </span>
              </div>
          </div>
          <div class="col-lg-12">
              <mat-form-field appearance="outline" [style.fontSize.px]="16">
                <mat-label>weight</mat-label>
                <input matInput formControlName="weight" />
              </mat-form-field>
              <div
                *ngIf="
                  myForm.get('weight')?.hasError('weight') &&
                  myForm.get('weight')?.touched
                "
                style="margin-top: -20px"
              >
                <span class="mda-form-msg">This field is required </span>
              </div>
            </div>
            <div class="col-lg-12">
              <mat-radio-group  style="margin-bottom: 10px;">
                <mat-radio-button value="1">Ticket</mat-radio-button>
                <mat-radio-button value="2" style="margin-left: 90px;">Invoice</mat-radio-button>
              </mat-radio-group>
            </div>
          <div class="col-lg-12">
              <mat-form-field appearance="outline" [style.fontSize.px]="16">
                <mat-label>email</mat-label>
                <input matInput formControlName="contact"/>
              </mat-form-field>
              <div
                *ngIf="
                  myForm.get('contact')?.hasError('contact') &&
                  myForm.get('contact')?.touched
                "
                style="margin-top: -20px"
              >
                <span class="mda-form-msg">This field is required </span>
              </div>
            </div>
    
          <div class="col-lg-12">
            <button mat-button
              class="btn btn-success"
              type="button"
              style="margin-left: 90px;background-color: blue;color: white; width: 200px;"
              (click)="saveShipment()"
            >
            NEXT
            </button>
          </div>
        </form>
  </div>
</div>
  