<h2>REGISTRER SHIPMENT</h2>
<button mat-button class="back" (click)="back()"><- Back</button>
<input type="text" class="search">
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.115809460365!2d-76.96560328518679!3d-12.10422359142904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses!2spe!4v1668144653849!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<button mat-button class="next" (click)="next()">Next</button>